{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "jsx-a11y", "import", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "settings": {
    "import/core-modules": ["react", "react-helmet", "react-router", "styled-components"]
  },
  "env": {
    "browser": true
  },
  "globals": {
    "graphql": true,
    "grecaptcha": true
  }
}
