{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "settings": {
    "import/core-modules": ["react", "config", "react-helmet", "react-router", "graphql"]
  }
}