section.project {
    div.info {
        margin: 0 auto 4rem;
        padding: 0.5rem 2rem;
        font-size: 1rem;
        max-width: 40rem;
        // background: #fafafa;
        border-radius: 2px;
        border: 1px solid #e5e5e5;

        a {
            color: black;
        }

        .row {
            display: flex;
            padding: 0.5rem 0;
            
            &:not(:last-child) { border-bottom: 1px solid #e5e5e5; }

            .c1 {
                flex: 1 1 30%;
                text-align: right;
                font-weight: 300;
                color: #777;
            }
            .c2 {
                flex: 1 1 70%;
                padding-left: 1rem;
            }
        }
        
    }
}