main#body {
  padding: 0 1rem;
}

div.wrapper {
  max-width: 75rem;
  margin: auto;

  section:first-child div.heading h2 {
    margin-top: 10rem;
  }
}

div.heading h2 {
  margin-top: 14rem;
  padding-left: 2rem;
}

h2 {
  font-family: font(heading);  
  margin-top: 4rem;
  padding-bottom: 0.5rem;
  margin-bottom: 3rem;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 1.3rem;
  border-bottom: 1px solid #eee;
  @media (min-width: 60rem) {
    margin-top: 8rem;
  }
}
div.anchor {
  position: relative;
  top: -5rem;
}

div.content {
  position: relative;
}

div.md {
  max-width: 40rem;
  margin: auto;
  border-left: 1px solid #eee;
  padding-left: 1rem;

  p {
      line-height: 1.3rem;
  }
}

div.heading {
  position: relative;
  padding-left: 7rem;
}

div.support-img {
  position: absolute;
  bottom: 0;
  left: 0;

  @media (min-width: 60rem) {
    bottom: auto;
    top: 0;
  }

  img {
    display: block;
    border-radius: 0.2rem;
    max-width: 8rem;
    width: 100%;
  }
}