footer {
    text-align: center;
    font-size: 0.9rem;
    padding: 3rem 1rem 1rem;

    .social {
        list-style: none;
        padding: 0;

        a {
            color: color(dark);
            font-size: 1.8rem;
            transition: color 0.2s;
            display: block;

            &:hover {
                color: #777;
            }
        }
        li {
            display: inline-block;
            margin: 0 0.2rem;
        }
    }
}