div.hero {
    position: relative;
    margin-top: 2.6rem;
    div.background {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &:after {
            content: '';
            width: 100%;
            padding-top: 50%;
            display: block;
        }
    }
    div.overlay {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        z-index: 1;
        color: white;
        width: 100%;
        text-align: center;
    }
    h1 {
        font-family: font(heading);
        font-weight: 400;
        font-size: 2rem;
        margin: 0;
        text-transform: uppercase
    }
    p {
        text-align: center;
        margin: 0;
        text-transform: lowercase;
    }
}

@media screen and (min-width: 25rem) {
    div.hero {
        div.background:after { padding-top: 40%; }
        h1 { font-size: 2.2rem; }
        p { letter-spacing: 0.15rem; }
    }
}
@media screen and (min-width: 31.25rem) {
    div.hero {
        div.background:after { padding-top: 30%; }
    }
}
@media screen and (min-width: 37.5rem) {
    div.hero {
        h1 { font-size: 3rem; }
    }
}
@media screen and (min-width: 50rem) {
    div.hero {
        div.background:after { padding-top: 20%; }
        &.mini div.background:after { padding-top: 15%; }
    }
}