section.portfolio {
    a {
        color: white;
    }

    ul.projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 0;
        li {
            flex: 1 1 50%;
            list-style: none;
            max-width: 50%;
        }
    }

    div.thumb {
        position: relative;
        border: 1px solid #eee;
        transition: box-shadow 0.5s;
        border-radius: 0.2rem;
        overflow: hidden;

        &:after {
            content: '';
            display: block;
            top: 0;
            left: 0;
            right: 0;
            padding-bottom: 100%;

        }
        div.title {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: rgba(0,0,0,0.7);
            opacity: 0;
            transition: opacity 0.5s;

            h4 { padding: 0 1rem; }
        }
        div.img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                max-width: none;
                width: 100%;
                transition: transform 0.5s;
            }
        }
        &:hover {
            @include shadow(2);
            div.title { opacity: 1; }
            div.img img {
                transform: scale(1.2);
            }
        }
    }
}

@media screen and (min-width: 25rem) {
    section.portfolio ul.projects {
        padding: 0 5%;
    }
}
@media screen and (min-width: 37.5rem) {
    section.portfolio ul.projects {
        padding: 0;
        max-width: 40rem;
        margin: auto;
        li {
            flex: 0 1 33.333%;
            padding: 0.2rem;
        }
    }
}