@import 'partials/variables';
@import 'partials/defaults';

@import 'partials/navigation';
@import 'partials/hero';
@import 'partials/footer';

@import 'partials/sections/contact';
@import 'partials/sections/portfolio';
@import 'partials/sections/services';
@import 'partials/sections/tools';

@import 'partials/projects/default';
@import 'partials/projects/displays';
@import 'partials/projects/embed';
@import 'partials/projects/features';

body {
  font-family: font(main);
  color: color(dark);
  font-size: 16px;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}